.provider, .contact {
    background-color: #161D30;
    color: #fff;
}

.fa-phone, .fa-envelope {
    color: #FFAA04;
}

a {
    text-decoration: none;
    color: #fff;
}

.bars, .search {
    color: #fff;
}
 @media (min-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
        background-color: #161D30;
    }

    .provider {
        padding-left: 44px;
    }

    .contact {
        padding-right: 35px;
    }
    
}